name: Tag a release on version increment
on:
  push:
    paths: 
      - '**/Cargo.toml'
    branches:
      - master
jobs:
  tag-new-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: salsify/action-detect-and-tag-new-version@v1
        with:
          version-command: |
            grep -ohP "version = \'\\K([\d\.]+)" Cargo.toml
